img.img-fluid{
    width: 100%;
    height: 400px;
}

.c-wrapper{
    position: relative;
    text-align: center;
    color:white;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

 #btn-w{
   width: 100%;
    position: absolute;
    top: 60%;   
    display: flex;
    flex-direction: column;   
    margin-top: 10px;
  }
  #btn-w button{
      margin-top: 20px;
      width:200px;
      margin:0 auto;
  }

