footer{
    height: 325px;
    width: 100%;
    background-color: #6c757d;
}
.f-contain{
    width: 250px;
    margin: 0 auto;
}
#banner-call{
    border:1px solid black;
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    background-color:#1b739d;
    font-weight: bold;
}
#banner-call span{
    text-align: center;
}
#f-bottom{
display: flex;
flex-direction: column;
margin-left: 2%;
}