header{
    font-style: italic;
    background-color: #6c757d;
    border-bottom: 2px solid black;
}
#work-hours{
    color: burlywood;
    padding: 0.5rem 1rem;
    display: flex; 
}
#work-hours p{
    margin-left: 2%;
}
@media(max-width:450px){
    #work-hours{
        flex-direction: column;
    }
}
