@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?6dzdas');
  src:  url('fonts/icomoon.eot?6dzdas#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?6dzdas') format('truetype'),
    url('fonts/icomoon.woff?6dzdas') format('woff'),
    url('fonts/icomoon.svg?6dzdas#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  /* speak: none; */
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-phone:before {
  content: "\e942";
}
.icon-clock:before {
  content: "\e94e";
  font-size: 13px;
}
.icon-mobile:before {
  content: "\e958";
}
.icon-user:before {
  content: "\e971";
}
.icon-hour-glass:before {
  content: "\e979";
}
.icon-spinner3:before {
  content: "\e97c";
}
.icon-spinner6:before {
  content: "\e97f";
}
.icon-key:before {
  content: "\e98d";
}
.icon-key2:before {
  content: "\e98e";
}
.icon-lock:before {
  content: "\e98f";
}
.icon-wrench:before {
  content: "\e991";
}
.icon-power:before {
  content: "\e9b5";
}
.icon-power-cord:before {
  content: "\e9b7";
}
.icon-menu3:before {
  content: "\e9bf";
}
.icon-earth:before {
  content: "\e9ca";
}
.icon-wink:before {
  content: "\e9e7";
}
.icon-mail:before {
  content: "\ea83";
}
.icon-facebook2:before {
  content: "\ea91";
}
.icon-instagram:before {
  content: "\ea92";
}
.icon-linkedin:before {
  content: "\eac9";
}
