@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    justify-content: space-between;
}
.navbar-nav{
    align-items: center;
}
.navbar-brand{
    font-family: 'Abril Fatface', cursive;
    font-style: italic;
    font-size: 500;
    font-weight: 800;
}
.navdrop{
    justify-content: flex-end;
}
.nav-container img {
    height: auto;
    width: 100%;
}
@media(min-width:750px){
    .nav-container img {
        height: 400px;
}
}
.carousel-item img{
    height: 400px;
}
@media(max-width:400px){
    .carousel-item img {
        height: 270px;
}
}
