main{
    margin:0 auto;
}
#section-container{
    width: 100%;
    margin: 0 auto;
}
#about{
    margin: 30px;
}
#about h1{
    text-align: center;
}
.about-wrapper{
    display:flex;
    width: 100%;
}
/* ----------------------------------------------------- */
@media(min-width:1200px){
    main{
        width: 1100px;
    }
    
}

@media(max-width: 1200px){
#section-container{
    width: 749px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}
#about{
display: flex;
justify-content: space-between;
flex-wrap: wrap;
}
}
@media(max-width:780px){
    #section-container{
        width: 530px;
    }
    #about{
        justify-content: unset;
    }
}
@media(max-width:450px){
    #section-container{
        width: 300px;
    }
    .about-wrapper{
        flex-direction: column;
    }
}
/* ----------------------------------------------------- */
.srvc-container{
    margin: 30px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
#services{
    width: 200px;
    height:410px;
    text-overflow: ellipsis;
}
#offered-services h1{
    text-align: center;
}
.btn-w{
    text-align: center;
    margin-bottom: 30px;
}
.more-btn{
    width: 100%;
    padding: 5px;
}
button:hover{
    outline: none;
}
/* .more-btn button{
    margin:auto;
    border: none;
    background:cadetblue ;
    cursor: pointer;
    border-radius: 5%;
    padding: 10px;
    font-weight: bold;
} */
.icon-power{
    font-size: 15px;
    padding: 2px;
    color: burlywood;
}
